@media (max-width: 100000px) {

	.col-70 {
		font-size: 16pt;
	}

	.top-bar {
		height: 44px;
	}

	.nav-bar {
		top: 44px;
	}

	.nav-image {
		left: 15%;
		top: 20px;
	}

	.nav-container {
		top: 44px;
	}

	.nav-link > a, .headquarters > a, .top-bar {
		font-size: 24pt;
	}

	.title-talent, .title-team, .title-about, .title-contact, .title-bar-contact {
		font-size: 48pt;
	}

	.owl-prev, .owl-next {
		width: 95px;
		height: 95px;
		line-height: 95px;
		font-size: 38px;
		top: 250px;
	}

	.creatives-container {
		height: 1000px;
	}

	.talent-slide-container, .talent-slide, .talent-content-container {
		height: 600px;
	}

	.creative-intro, .creative-title {
		font-size: 48pt;
	}

	.creative-info {
		height: 550px;
	}

	.creative-name {
		padding-top: 75px;
	}

	.open-blurb {
		top: 485px;
		font-size: 24pt;
	}

	.close-blurb {
		font-size: 50pt;
	}

	.creative-blurb-container {
		height: 500px;
	}

	.creative-blurb {
		font-size: 20pt;
	}

	.interested {
		bottom: 5%;
	}

	.section-title {
		padding-bottom: 50px;
	}

	.social-box {
		width: 17em;
		height: 3em;
	}

	.agent-social-icon {
		width: 45px;
	}

	.footer-social {
		font-size: 12pt;
	}

	.footer-link {
		font-size: 16pt;
		padding-bottom: 5px;
	}
}

@media (max-width: 1800px) {

	.col-70 {
		font-size: 14.5pt;
	}

	.nav-bar {
		top: 44px;
	}

	.nav-image {
		left: 15%;
		top: 20px;
	}

	.nav-container {
		top: 44px;
	}

	.nav-link > a, .headquarters > a, .top-bar {
		font-size: 24pt;
	}

	.title-talent, .title-team, .title-about, .title-contact, .title-bar-contact {
		font-size: 48pt;
	}

	.owl-prev, .owl-next {
		top: 205px;
	}

	.creatives-container {
		height: 850px;
	}

	.talent-slide-container, .talent-slide, .talent-content-container {
		height: 500px;
	}

	.creative-intro, .creative-title {
		font-size: 42pt;
	}

	.creative-info {
		height: 450px;
	}

	.creative-name {
		padding-top: 70px;
	}

	.open-blurb {
		top: 390px;
		font-size: 24pt;
	}

	.close-blurb {
		font-size: 50pt;
	}

	.creative-blurb-container {
		height: 500px;
	}

	.creative-blurb {
		font-size: 20pt;
	}

	.interested {
		bottom: 5%;
	}

	.section-title {
		padding-bottom: 50px;
	}

	.social-box {
		width: 17em;
		height: 3em;
	}

	.agent-social-icon {
		width: 45px;
	}

	.footer-social {
		font-size: 12pt;
	}

	.footer-link {
		font-size: 16pt;
		padding-bottom: 5px;
	}
}

@media (max-width: 1700px) {

	.col-70 {
		font-size: 14pt;
	}

	.nav-bar {
		top: 44px;
	}

	.nav-image {
		left: 15%;
		top: 20px;
	}

	.nav-container {
		top: 44px;
	}

	.nav-link > a, .headquarters > a, .top-bar {
		font-size: 24pt;
	}

	.title-talent, .title-team, .title-about, .title-contact, .title-bar-contact {
		font-size: 48pt;
	}

	.owl-prev, .owl-next {
		top: 155px;
	}

	.creatives-container {
		height: 800px;
	}

	.talent-slide-container, .talent-slide, .talent-content-container {
		height: 400px;
	}

	.creative-intro, .creative-title {
		font-size: 36pt;
	}

	.creative-info {
		height: 350px;
	}

	.creative-name {
		padding-top: 0px;
	}

	.open-blurb {
		top: 312px;
		font-size: 20pt;
		padding-top: 8px;
	}

	.close-blurb {
		font-size: 50pt;
	}

	.creative-blurb-container {
		height: 350px;
	}

	.creative-blurb {
		font-size: 18pt;
	}

	.interested {
		bottom: 3%;
	}

	.section-title {
		padding-bottom: 50px;
	}

	.social-box {
		width: 17em;
		height: 3em;
	}

	.agent-social-icon {
		width: 45px;
	}

	.footer-social {
		font-size: 12pt;
	}

	.footer-link {
		font-size: 16pt;
		padding-bottom: 5px;
	}
}

@media (max-width: 1615px) {

	.col-70 {
		font-size: 12.5pt;
	}

	.top-bar {
		height: 30px;
	}

	.nav-bar, .nav-container {
		top: 30px;
	}

	.nav-link > a, .headquarters > a, .top-bar {
		font-size: 20pt;
	}

	.title-talent, .title-team, .title-about, .title-contact, .title-bar-contact {
		font-size: 40pt;
	}

	.nav-image {
		left: 15%;
	}

	.creative-blurb {
		font-size: 14pt;
	}

	.owl-prev, .owl-next {
		width: 95px;
		height: 95px;
		line-height: 95px;
		font-size: 38px;
	}

	.creatives-container {
		height: 800px;
	}

	.close-blurb {
		font-size: 50pt;
	}

	.section-title {
		padding-bottom: 50px;
	}

	.social-box {
		width: 225px;
		height: 40px;
	}

	.agent-social-icon {
		width: 38px;
	}

	.footer-social {
		font-size: 12pt;
	}

}

@media (max-width: 1475px) {

	.col-70 {
		font-size: 12pt;
	}

	.footer-social {
		font-size: 11.5pt;
	}

	.nav-image {
		left: 14%;
	}

	.creative-blurb {
		font-size: 12.5pt;
	}

	.owl-prev, .owl-next {
		width: 95px;
		height: 95px;
		line-height: 95px;
		font-size: 38px;
	}

	.creatives-container {
		height: 650px;
	}

	.section-title {
		padding-bottom: 0px;
	}

	.social-box {
		width: 12em;
	}
}